<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %><br>
<div class="d-flex align-items-center justify-content-start" style="margin-top: -10px;">
  <% if @user.image.url %>
    <div style="margin-right: 30px;">
      <%= image_tag @user.image.url, size: '100x100', style: 'border-radius: 50%;' %>
    </div>
  <% end %>
  <div style="flex-grow: 1; min-width: 0;">
    <p style="margin: 0; font-size: 20px;"><%= @user.name %>さんの推し一覧</p>
  </div>
  <% if current_user&.id == @user.id %>
  <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("好きでたまらない推し達を見てください！")}&url=#{CGI.escape(user_url(@user))}", target: '_blank', class: 'btn btn-twitter' do %>
      <i class="fa-brands fa-twitter"></i>
    <% end %>
  <% end %>
  <% if current_user == @user %>
    <%= link_to 'プロフィールを編集', edit_user_path(@user), class:'profile-edit-btn' %>
  <% end %>
</div><br>
<% if @posts.present? %>
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-3 mb-4">
      <%= link_to post_path(post.id), data: { turbo_stream: true }, class: "text-decoration-none" do %>
        <div class="post">
          <div class="image-container">
            <%= image_tag(post.image.url, alt: post.name, class: 'post-img', style: 'border-radius: 9% 9% 0 0;') %>
            <div class="like-icon">
              <%= render partial: "posts/like", locals: { post: post, liked: current_user&.likes&.exists?(post_id: post.id) } %>
            </div>
          </div>
          <div class='post-sentence-container'> 
            <h2 class="post-name"><%= post.name.truncate(11) %></h2>
            <%= post.body.truncate(50) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>  
  </div>
<% else %>
  <p>投稿がありません</p>
<% end %>
