<div class="d-flex align-items-center justify-content-start mb-3">
  <h1 class="page-title">おすすめ投稿</h1>
</div>
<% if @recommends.present? %>
  <div class="row">
  <% @recommends.each do |post| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
      <%= link_to post_path(post.id), data: { turbo_stream: true }, class: "text-decoration-none" do %>
        <div class="post">
          <div class="image-container">
            <%= image_tag(post.image.url, alt: post.name, class: 'post-img', style: 'border-radius: 9%;') %>
            <div class="like-icon">
              <%= render partial: "posts/like", locals: { post: post } %>
            </div>
          </div>
          <h2 class="post-name"><%= post.name.truncate(11) %></h2>
          <div class="post-body">
            <%= simple_format(post.body) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>  
  </div>
<% else %>
  <p>おすすめが作成されませんでした　いいねをたくさんすることでおすすめが作成されます</p>
<% end %><br>
<div class='pagination'>
  <%= paginate @recommends %>
</div>
