<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>
<div id="notifications-container" style="display: none; position: absolute; top: 20px; right: 20px; z-index: 1000;">
  <div class="notifications-dropdown" style="background-color: white; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"></div>
</div>
<div class="d-flex align-items-center justify-content-start mb-3">
  <h1 class="page-title">新着投稿</h1>
  <%= search_form_for @q, html: { class: 'd-flex align-items-center w-100' } do |f| %>
    <%= f.label :name_cont, 'キャラクター名検索', class: 'me-2' %>
    <div class="me-6 search-container">
      <%= f.search_field :name_cont, class: 'form-control character-search-field' %>
      <div id='dropdown' class="dropdown-list"></div>
    </div>
    <%= f.submit "検索", class: 'search-button ms-2' %>
  <% end %>  
</div>
<% if @posts.present? %>
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
      <%= link_to post_path(post.id), data: { turbo_stream: true }, class: "text-decoration-none" do %>
        <div class="post">
          <div class="image-container">
            <%= image_tag(post.image.url, alt: post.name, class: 'post-img', style: 'border-radius: 9%;') %>
            <div class="like-icon">
              <%= render partial: "posts/like", locals: { post: post } %>
            </div>
          </div>
          <h2 class="post-name"><%= post.name.truncate(11) %></h2>
          <div class="post-body">
            <%= simple_format(post.body) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>  
  </div>
<% else %>
  <p>検索がヒットしませんでした</p>
<% end %><br>
<div class='pagination'>
  <%= paginate @posts %>
</div>
