<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="flex-shrink-0">新着投稿</h1>
  <%= search_form_for @q, html: { class: 'flex-grow-1 d-flex align-items-center' } do |f| %>
    <div class="d-flex align-items-center col-md-4"> 
    <%= f.label :name_cont, 'キャラクター名検索', class: 'me-2', style: 'white-space: nowrap' %>
    <%= f.search_field :name_cont, class: 'me-2 flex-grow-1' %>
    <%= f.submit "検索", class: 'btn btn-primary ms-auto' %>
  </div>  
  <% end %>
</div>
<% if @posts.present? %>
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
      <%= link_to post_path(post.id), data: { turbo_stream: true }, class: "text-decoration-none" do %>
        <div class="post">
          <div class="image-container">
            <%= image_tag(post.image.url, alt: post.name, class: 'post-img', style: 'border-radius: 10%;') %>
            <div class="like-icon">
              <%= render partial: "posts/like", locals: { post: post } %>
            </div>
          </div>
          <h2 class="post-name"><%= post.name.truncate(11) %></h2>
          <%= post.body.truncate(50) %>
        </div>
      <% end %>
    </div>
  <% end %>  
  </div>
<% else %>
  <p>検索がヒットしませんでした</p>
<% end %>
<%= paginate @posts %>
