<% content_for :meta_tags do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@yourTwitterHandle">
  <meta name="twitter:image" content="<%= @post.image.url %>">
  <meta name="twitter:title" content="<%= @post.name %>">
  <meta name="twitter:description" content="<%= @post.body %>">
<% end %>
<%= @post.name %>
<%= @post.body %>
<%= @post.id %>
<%= render 'posts/modal_like' , { post: @post } %>
<%= link_to @post.user.name, user_path(@post.user) %>
<% if current_user.id == @post.user_id %>
  <% tweet_text = CGI.escape("#{@post.name}") %>
  <%= link_to 'Xで共有', "https://twitter.com/intent/tweet?url=#{CGI.escape(post_url(@post))}&text=#{CGI.escape("#{@post.name}")}", target: "_blank", class: "twitter-share-button" %>
<% end %>
  <%= form_with model: [@post, @comment] do |f| %>
  <%= f.text_area :body %><br>
  <%= f.submit "コメントする" %>
<% end %>

<div id="comments">
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.user.name %>
      <%= comment.body %>
      <% if comment.user == current_user %>
        <%= link_to "削除", [comment.post, comment], method: :delete %>
      <% end %>
    </p>
  <% end %>
</div>

