<div class="sidebar"><br><br>
  <% unless logged_in? %>
    <% if current_page?(root_path) %>
      <%= link_to how_to_use_path, class: 'sidebar-link beginner new-badge' do %>
        <i class="fa-solid fa-question"></i><span>使い方</span>
      <% end %>
    <% else %>
      <%= link_to how_to_use_path, class: 'sidebar-link' do %>
        <i class="fa-solid fa-question"></i><span>使い方</span>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to posts_path, class: 'sidebar-link' do %>
    <i class="fas fa-home"></i><span>新着</span>
  <% end %>
  <%= link_to characters_ranking_path, class: 'sidebar-link' do %>
    <i class="fas fa-chart-line"></i><span>ランキング</span>
  <% end %>
  <%= link_to 'https://twitter.com/ShimejiOnRails', class: 'sidebar-link' do %>
    <i class="fas fa-envelope"></i><span>お問い合わせ</span>
  <% end %>
  <%= link_to privacy_policy_path, class: 'sidebar-link' do %>
    <i class="fas fa-user-secret"></i><span>プライバシーポリシー</span>
  <% end %>
  <%= link_to terms_of_service_path, class: 'sidebar-link' do %>
    <i class="fas fa-file-contract"></i><span>利用規約</span>
  <% end %>
  <% if logged_in? %>
    <%= link_to how_to_use_path, class: 'sidebar-link' do %>
      <i class="fa-solid fa-question"></i><span>使い方</span>
    <% end %>
  <% end %>
  <% if logged_in? %>
    <%= link_to session_path(@current_user.id), data:{turbo_method: :delete}, class: 'sidebar-link' do %>
      <i class="fas fa-sign-out-alt"></i><span>ログアウト</span>
    <% end %>
  <% end %>
</div>
