<!DOCTYPE html>
<html>
  <head>
    <title>Oshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
    <div id="postModal" style="display:none;">
      <div class="modal-content">
        <span class="close-button" onclick="closeModal()">×</span>
      <div id="modal-body"></div>
    </div>

    <script>
    function openModal(postId) {
      fetch(`/posts/${postId}`)
      .then(response => response.text())
      .then(html => {
        document.getElementById('modal-body').innerHTML = html;
        document.getElementById('postModal').style.display = 'block';
      });
    }

    // モーダルを閉じる関数
    function closeModal() {
      document.getElementById('postModal').style.display = 'none';
    }
    </script>
  </body>
</html>
