<!DOCTYPE html>
<html>
  <head>
    <title>Oshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: 'module', "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <% if controller_name == 'users' && action_name == 'edit' %>
      <%= javascript_include_tag 'user_edit_croppie_setup', 'data-turbo-track': 'reload' %>
      <%= javascript_include_tag 'render_user_edit_croppie_setup', 'data-turbo-track': 'reload' %>
    <% elsif controller_name == 'posts' && action_name == 'new' %>
      <%= javascript_include_tag 'new_post_croppie_setup', 'data-turbo-track': 'reload' %>
    <% end %>
  </head>
  <body>
  <body>
  <% if logged_in? %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/before_login_header' %>
  <% end %>
  <div class="sidebar">
    <%= render 'layouts/side_bar' %>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
  </body>
</html>
