<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M25EW0C3ZC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M25EW0C3ZC');
    </script>
    <title>Oshi</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ShimejiOnRails">
    <meta name="twitter:title" content="Webアプリ オシカツ！">
    <meta name="twitter:description" content="推しの良いところを語れて共有できるアプリです">
    <meta name="twitter:image" content="<%= twitter_image_url %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: 'module', "data-turbolinks-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.js"></script>
    </head>
  <body>
  <% if logged_in? %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/before_login_header' %>
  <% end %>
  <div class="sidebar">
    <%= render 'layouts/side_bar' %>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
  </body>
</html>
