<!DOCTYPE html>
<html>
  <head>
    <title>Oshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: 'module', "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
  </head>
  <body>
  <body>
  <% if logged_in? %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/before_login_header' %>
  <% end %>
  <div class="sidebar">
    <%= render 'layouts/side_bar' %>
  </div>
  <div class="main-content">
    <%= yield %>
  </div>
  <script src="https://kit.fontawesome.com/1d9654495b.js" crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0PX6267HM0"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-0PX6267HM0');
  </script>
  </body>
</html>
